<!-- start footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Wahyu</a>
    </div>
    <!-- Copyright -->
  
  </footer>

<!-- 
    <div class="footer__socials">
            <ul class="socials__list">
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-stack-overflow socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-wordpress socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-vk socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-youtube socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-twitter socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-google socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="/#">
                        <i class="fa fa-github-alt socials__icon" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
 -->