

<p>admin here</p>

<!-- <body>  
    <div class="container">
      <h2>Data User</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, omnis? Sequi laborum quia sunt harum?</p>            
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{admin.id}}</td>
            <td>{{admin.name}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.mobile}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</body> -->