<!-- The content below is only a placeholder and can be replaced -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">

    <title>My Apps</title>
  </head>
    <body class="app sidebar-show aside-menu-show">
        <h1>Welcome !</h1>
        <header class="app-header navbar">
          <!-- Header content here -->
        </header>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                  <ul class="nav">
                    <li class="nav-title">Nav Title</li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="nav-icon cui-speedometer"></i> Nav item
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="nav-icon cui-speedometer"></i> With badge
                        <span class="badge badge-primary">NEW</span>
                      </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon cui-puzzle"></i> Nav dropdown
                      </a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item mt-auto">
                      <a class="nav-link nav-link-success" href="https://coreui.io">
                        <i class="nav-icon cui-cloud-download"></i> Download CoreUI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-danger" href="https://coreui.io/pro/">
                        <i class="nav-icon cui-layers"></i> Try CoreUI
                        <strong>PRO</strong>
                      </a>
                    </li>
                  </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
              </div>
          <main class="main">
            <!-- Main content here -->
            <div class="container">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Example select</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Example multiple select</label>
                      <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Example textarea</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
            </div>
          </main>
          <aside class="aside-menu">
            <!-- Aside menu content here -->
          </aside>
        </div>
        <footer class="app-footer">
            <div>
              <a href="https://coreui.io">Wahyu</a>
              <span>&copy; 2020 .</span>
            </div>
            <div class="ml-auto">
              <span>Powered by</span>
              <a href="https://coreui.io">CoreUI</a>
            </div>
          </footer>
      </body>
</html><!-- The content below is only a placeholder and can be replaced -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">

    <title>My Apps</title>
  </head>
    <body class="app sidebar-show aside-menu-show">
        <h1>Welcome !</h1>
        <header class="app-header navbar">
          <!-- Header content here -->
        </header>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                  <ul class="nav">
                    <li class="nav-title">Nav Title</li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="nav-icon cui-speedometer"></i> Nav item
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="nav-icon cui-speedometer"></i> With badge
                        <span class="badge badge-primary">NEW</span>
                      </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon cui-puzzle"></i> Nav dropdown
                      </a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item mt-auto">
                      <a class="nav-link nav-link-success" href="https://coreui.io">
                        <i class="nav-icon cui-cloud-download"></i> Download CoreUI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-danger" href="https://coreui.io/pro/">
                        <i class="nav-icon cui-layers"></i> Try CoreUI
                        <strong>PRO</strong>
                      </a>
                    </li>
                  </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
              </div>
          <main class="main">
            <!-- Main content here -->
            <div class="container">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Example select</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Example multiple select</label>
                      <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Example textarea</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
            </div>
          </main>
          <aside class="aside-menu">
            <!-- Aside menu content here -->
          </aside>
        </div>
        <footer class="app-footer">
            <div>
              <a href="https://coreui.io">Wahyu</a>
              <span>&copy; 2020 .</span>
            </div>
            <div class="ml-auto">
              <span>Powered by</span>
              <a href="https://coreui.io">CoreUI</a>
            </div>
          </footer>
      </body>
</html>



